<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Anime Gen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#img">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Anime Gen</h1>
                <p class="lead">A GAN based Anime Drawing generation webapp</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div>
                    <img src="/plot.png?t1=0.50&t2=0.10&t3=0.110" alt="my plot" id="img" class="img-responsive">
                    <br>
                    <button type="button" class="btn btn-primary" onclick="run()">New Image</button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">
                    You can control the output of the GAN by adjusting the below Knobs, which control the top 3 features learned by the GAN
                </p>
            </div>
            <div class="col-lg-12 text-center">
                T1 : 
                <input type="range" min="-20" max="20" value="1" class="slider" onchange="run()" id="t1">
                T2 : 
                <input type="range" min="-20" max="20" value="1" class="slider" onchange="run()" id="t2">
                T3 :
                <input type="range" min="-20" max="20" value="1" class="slider" onchange="run()" id="t3">               

            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>

    let t1 = document.getElementById("t1")
    let t2 = document.getElementById("t2")
    let t3 = document.getElementById("t3")

    

    function run()
    {   val1 = t1.value
        val2 = t2.value
        val3 = t3.value

        let img = document.getElementById("img")
         img.src= `/plot.png?t1=${val1*0.0001}&t2=${val2*0.0001}&t3=${val3*0.0001}` + new Date().getTime();
    }


</script>
</html>